<a href="/logout">logout</a>

<p>
  This is the index page
</p>

<form class="" action="/plants.json" method="post">
  <label for="type">Plant type</label><input type="text" name="type" value="">
  <label for="freq">Watering freq</label><input type="integer" name="freq" value="">
  <label for="last_water">last water</label><input type="date" name="last_water" value="">
  <input type="submit">
</form>
