<p>
  This is the index page
</p>
<div class="newPlantView">
  <div class="newPlant">
    <input name='type' type='text' placeholder="type of plant">
    <input name='freq' type='integer' placeholder="frequency">
    <input name='last_water' type='date' placeholder="date of last water">
    <button class='createPlant'>Add Plant</button>
  </div>
</div>
<div class="plants"></div>
<script type="text/javascript" src="js/app.js"></script>
