<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plant Whisperer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/models/plant.js"></script>
    <script src="js/views/plantView.js"></script>
    <script src="js/views/newPlantView.js"></script>
  </head>
  <body>
    {{#if currentUser}}
    <header>
      <h2>Welcome, {{currentUser.twitter.username}}!</h2>
      {{#if currentUser}}
        <a href="/logout">Logout</a>
      {{/if}}
    </header>
    {{/if}}
     {{{body}}}
  </body>
</html>
