<h1>Plant Whisperer</h1>
<h2><a href="/auth/twitter">Login with Twitter</a></h2>

<iframe src="https://player.vimeo.com/video/151856322?autoplay=1&badge=0&byline=0&portrait=0&title=0" frameborder="0"></iframe>
<img src="assets/ficus.gif" alt="ficus gif" />

<h3>Giving a voice to neglected houseplants.</h3>
