@import url(https://fonts.googleapis.com/css?family=Comfortaa);
body {
  background: #edcbb1;
  font-family: "Comfortaa", "Arial", sans-serif;
  color: #b7245c; }

a, a:active,
a:focus,
a:hover,
a:link,
a:target,
a:visited {
  color: #7c3238; }

h1 {
  text-align: center; }

header {
  font-size: 2em;
  margin: 1em auto; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header div {
    display: inline-block; }
    header div:last-of-type {
      float: right; }

main:after {
  content: "";
  display: table;
  clear: both; }
main h1 {
  font-size: 4em; }
main h2, main h3 {
  text-align: center; }
main img {
  display: inline-block;
  margin: 0 auto;
  width: 35%; }
main iframe {
  width: 60%;
  height: 400px;
  display: inline-block; }

footer {
  margin-top: 3em;
  padding: 20px;
  text-align: center; }

.form-container {
  font-size: 1.4em;
  padding: 10px;
  text-align: center; }
  .form-container fieldset {
    margin: 0; }
  .form-container label {
    display: block; }
  .form-container input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    max-width: 15em;
    line-height: 1.6em; }
    .form-container input[name=frequency] {
      width: 3.5em; }
    .form-container input[name=last_water] {
      width: 10em; }
    .form-container input[name=zipcode] {
      width: 7em; }
    .form-container input[name=outdoors] {
      width: 1em;
      vertical-align: middle; }
  .form-container select {
    margin: 0;
    vertical-align: top; }
  .form-container button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 8px;
    display: block;
    margin: 0 auto;
    line-height: 1em;
    vertical-align: middle;
    background: #5e6451;
    color: white; }
    .form-container button[disabled=disabled] {
      background: #929982; }
  .form-container .invalid {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #e88caf;
    color: #7c3238;
    font-size: 0.8em;
    display: block;
    width: 80%;
    margin: 0 auto; }
    .form-container .invalid:before {
      content: '^'; }
    .form-container .invalid:after {
      content: '^'; }
  .form-container.edit-container {
    text-align: left;
    font-size: 1.2em; }
    .form-container.edit-container input {
      line-height: 1.4em; }
    .form-container.edit-container .invalid {
      margin: 0; }
    .form-container.edit-container button {
      display: inline-block;
      float: left;
      margin: 0 0.2em; }

.plant-info {
  padding: 10px; }
  .plant-info p {
    font-size: 1.2em;
    margin: 0; }
    .plant-info p a {
      margin-left: 0.8em;
      font-size: 0.6em; }
      .plant-info p a:before {
        content: '('; }
      .plant-info p a:after {
        content: ')'; }
  .plant-info .plant-name {
    font-size: 1.8em;
    color: #7c3238; }

.no-plants {
  text-align: center; }
  .no-plants img {
    width: 70%; }
  .no-plants p {
    text-align: center;
    font-size: 1.4em; }

/*# sourceMappingURL=style.css.map */
