// sass --watch public/css/style.scss:public/css/style.css
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
$color1: #002500;
$color2: #929982;
$color3: #edcbb1;
$color4: #b7245c;
$color5: #7c3238;

$mainFonts:'Comfortaa', 'Arial',sans-serif;
$secondFonts: 'Times',serif;

@function mixColors($first,$second,$pct,$max){
  $str: ();
  @for $i from 0 through $pct{
    $str:append($str,$first,comma)
  }
  $rest: $max - $pct;
  @for $i from 0 through $rest{
    $str:append($str,$second,comma)
  }
  @return $str;
}

@mixin gradient{
  background: $color2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(mixColors($color3,$color2,35,45)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(mixColors($color3,$color2,35,45)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(mixColors($color3,$color2,35,45)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(mixColors($color3,$color2,35,45)); /* Standard syntax */
}

@mixin clearfix{
  &:after {
    content: "";
    display:table;
    clear: both;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body{
  background:$color3;
  font-family: $mainFonts;
  color:$color4;
}
a,a:active,
a:focus,
a:hover,
a:link,
a:target,
a:visited{
  color:$color5;
}
h1{
  text-align: center;
}
header{
  @include clearfix;
  font-size: 2em;
  margin:1em auto;
  div{
    display:inline-block;
    &:last-of-type{
      float:right;
    }
  }
}
main{
  @include clearfix;
  h1{
    font-size: 4em;
  }
  h2{
    text-align: center;
  }
}
footer{
  margin-top:3em;
  padding:20px;
  text-align: center;
}

.form-container{
  font-size: 1.4em;
  padding:10px;
  text-align: center;
  fieldset{
    margin:0;
  }
  label{
    display:block;
  }
  input{
    @include border-radius(5px);
    border:none;
    width:100%;
    max-width: 15em;
    line-height: 1.6em;
    &[name=frequency]{
      width:3.5em;
    }
    &[name=last_water]{
      width:10em;
    }
    &[name=zipcode]{
      width:7em;
    }
    &[name=outdoors]{
      width:1em;
      vertical-align: middle;
    }
  }
  select{
    margin:0;
    vertical-align: top;
  }
  button{
    @include border-radius(5px);
    padding:8px;
    display:block;
    margin:0 auto;
    line-height: 1em;
    vertical-align: middle;
    background:darken($color2, 20);
    color:white;
    &[disabled=disabled]{
      background: $color2;
    }
  }
  .invalid{
    @include border-radius(5px);
    background:lighten($color4,30);
    color:$color5;
    font-size: 0.8em;
    display: block;
    width:80%;
    margin:0 auto;
    &:before{
      content:'^';
    }
    &:after{
      content:'^';
    }
  }
  &.edit-container{
    text-align: left;
    font-size:1.2em;
    input{
      line-height:1.4em;
    }
    .invalid{
      margin:0;
    }
    button{
      display:inline-block;
      float:left;
      margin:0 0.2em;
    }
  }
}

.plant-info{
  padding:10px;
  p{
    font-size: 1.2em;
    margin:0;
    a{
      margin-left:0.8em;
      font-size:0.6em;
      &:before{
        content:'(';
      }
      &:after{
        content:')';
      }
    }
  }
  .plant-name{
    font-size:1.8em;
    color:$color5;
  }
}
.no-plants{
  img{
    width:100%;
  }
  p{
    text-align: center;
    font-size: 1.4em;
  }
}
