// sass --watch public/css/style.scss:public/css/style.css
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
$color1: #002500; //rgba(0, 37, 0, 100)
$color2: #929982; //rgba(146, 153, 130, 100)
$color3: #edcbb1; //rgba(237, 203, 177, 100)
$color4: #b7245c; //rgba(183, 36, 92, 100)
$color5: #7c3238; //rgba(124, 50, 56, 100)

$mainFonts:'Comfortaa', 'Arial',sans-serif;
$secondFonts: 'Times',serif;

@function mixColors($first,$second,$pct,$max){
  $str: ();
  @for $i from 0 through $pct{
    $str:append($str,$first,comma)
  }
  $rest: $max - $pct;
  @for $i from 0 through $rest{
    $str:append($str,$second,comma)
  }
  @return $str;
}

@mixin gradient{
  background: $color2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(mixColors($color3,$color2,35,45)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(mixColors($color3,$color2,35,45)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(mixColors($color3,$color2,35,45)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(mixColors($color3,$color2,35,45)); /* Standard syntax */
}

@mixin clearfix{
  &:after {
    content: "";
    display:table;
    clear: both;
  }
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body{
  // @include gradient;
  background:$color3;
  font-family: $mainFonts;
  color:$color4;
}
a,a:active,
a:focus,
a:hover,
a:link,
a:target,
a:visited{
  color:$color5;
}
header,main,footer{
  width:80%;
  margin:0 auto;
}
header{
  @include clearfix;
  font-size: 2em;
  padding-top:1em;
  div{
    display:inline-block;
    &:last-of-type{
      float:right;
    }
  }
}
main{
  h1{
    font-size: 4em;
  }
  h2{
    text-align: center;
  }
}
footer{
  padding:20px;
  text-align: center;
}

.form-container{
  position:relative;
  min-width:160px;
  max-width: 320px;
  margin:0 auto;
  font-size: 1.4em;
  label{
    display:block;
    padding-left:1em;
  }
  input{
    @include border-radius(5px);
    width:100%;
    line-height: 1.6em;
    margin-bottom:1em;
    min-width:160px;
    max-width:320px;
    &[name=outdoors]{
      width:20px;
      height:20px;
      vertical-align: top;
    }
  }
  button{
    @include border-radius(5px);
    padding:3px;
    display:block;
    margin:0 auto;
  }
}

// form{
//   border:1px solid blue;
//   display:inline-block;
//   margin:0 auto;
//   width:auto;
//   label{
//     clear:both;
//     float:left;
//   }
//   input{
//     float:left;
//   }
// }

h1{
  text-align: center;
}
h2 a{
  text-align: center;
}
.cf:after{
  clear:both;
  content:'';
  display:table;
}
