<form>
  <input type="text" name="type" data-ng-model="plant.type" />
  <input type="integer" name="frequency" data-ng-model="plant.frequency" />
  <input type="text" class="datepicker" name="last_water" data-ng-model="plant.last_water" />
  <input type="checkbox" name="outdoors" data-ng-model="plant.outdoors" />
  <button type="button" data-ng-if="!plant._id" data-ng-click="create()">Create</button>
  <div data-ng-if="plant._id">
    <button type="button" data-ng-click="cancel()">cancel</button>
    <button type="button" data-ng-click="update()">Update</button>
    <button type="button" data-ng-click="delete()">Delete</button>
  </div>
</form>
